h1{
    font-size: 1.5em;
    text-decoration: underline;
    margin-top: 5px;
}

th{
    padding-left: 10px;
}

td{
    padding-left: 10px;
}

input.assignNum{
    width:90px;
}

.notification{
    background-color: #0066CC;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
    font-weight:bold;
}

.notificationArea{
    text-align:center;
    display: none;
    margin-top: 10px;
}

body {
    font-size: 9pt;
    margin-left: 5px;
}

button {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
}
